# Numerical comparison plots

Figure to summarize numerical comparison results. See [this notebook](https://gaow.github.io/mvarbvs/analysis/20190218_MNM_Benchmark.html) for its input data.

I plan to make 3 types of comparisons: oracle, mismatched and default. In particular I'll put together results from all scenarios (averaged), singleton scenario and shared (with heterogenous effect size), in 3 panels, for 6 quantities:

- size
- purity
- coverage
- power
- per condition FDR
- per condition power

In [1]:
%cd ~/GIT/github/mnm-twas/dsc

/home/gaow/Documents/GIT/github/mnm-twas/dsc

## Load and organize data

In [52]:
res = readRDS('../data/finemap_output.query_result.rds')
res = res[,c(2,4,5,6,7,8,9,10,11,12,13,14,15)]
colnames(res) = c('pattern', 'method', 'total', 'valid', 'size', 'purity', 'top_hit', 'total_true', 'total_true_included', 'overlap', 'false_positive_cross_cond', 'false_negative_cross_cond', 'true_positive_cross_cond')

## Purity

In [53]:
purity = aggregate(purity~pattern + method, res, mean)
purity$scenario = rep(NA, nrow(purity))
purity$scenario[which(purity$method == purity$pattern & purity$method != 'mixture_1')] = 'oracle'
purity$scenario[which(purity$method != purity$pattern & purity$method != 'mixture_1')] = 'mismatch'
purity$scenario[which(purity$method == "mixture_1")] = 'default'
purity = purity[which(!is.na(purity$scenario)),]
purity_median = aggregate(purity~scenario, purity, median)
purity_median

  scenario purity
1 default  0.9847903
2 mismatch 0.9360424
3 oracle   0.9837503

In [54]:
purity_singleton = purity[which(purity$pattern == 'singleton'),]
purity_median_singleton = aggregate(purity~scenario, purity_singleton, median)
purity_median_singleton

  scenario purity
1 default  0.8568686
2 mismatch 0.8554835
3 oracle   0.8699070

In [55]:
purity_het = purity[which(purity$pattern == 'low_het'),]
purity_median_het = aggregate(purity~scenario, purity_het, median)
purity_median_het

  scenario purity
1 default  0.9851506
2 mismatch 0.9835865
3 oracle   0.9854448

## Size

In [56]:
size = aggregate(size~pattern + method, res, mean)
size$scenario = rep(NA, nrow(size))
size$scenario[which(size$method == size$pattern & size$method != 'mixture_1')] = 'oracle'
size$scenario[which(size$method != size$pattern & size$method != 'mixture_1')] = 'mismatch'
size$scenario[which(size$method == "mixture_1")] = 'default'
size = size[which(!is.na(size$scenario)),]
size_median = aggregate(size~scenario, size, median)
size_singleton = size[which(size$pattern == 'singleton'),]
size_median_singleton = aggregate(size~scenario, size_singleton, median)
size_het = size[which(size$pattern == 'low_het'),]
size_median_het = aggregate(size~scenario, size_het, median)

In [57]:
size_median

  scenario size
1 default   9.771
2 mismatch 11.613
3 oracle    9.782

In [58]:
size_median_singleton

  scenario size
1 default  17.714
2 mismatch 17.291
3 oracle   18.366

In [59]:
size_median_het

  scenario size
1 default  8.679
2 mismatch 8.797
3 oracle   8.624

## Coverage

In [72]:
valid = aggregate(valid ~ pattern + method, res, sum)
total = aggregate(total ~ pattern + method, res, sum)
fdr = merge(valid, total, by = c("pattern", "method"))
fdr$fdr = (fdr$total - fdr$valid)/fdr$total

In [73]:
fdr$scenario = rep(NA, nrow(fdr))
fdr$scenario[which(fdr$method == fdr$pattern & fdr$method != 'mixture_1')] = 'oracle'
fdr$scenario[which(fdr$method != fdr$pattern & fdr$method != 'mixture_1')] = 'mismatch'
fdr$scenario[which(fdr$method == "mixture_1")] = 'default'
fdr = fdr[which(!is.na(fdr$scenario)),]
fdr_mean = aggregate(fdr~scenario, fdr, mean)
fdr_singleton = fdr[which(fdr$pattern == 'singleton'),]
fdr_mean_singleton = aggregate(fdr~scenario, fdr_singleton, mean)
fdr_het = fdr[which(fdr$pattern == 'low_het'),]
fdr_mean_het = aggregate(fdr~scenario, fdr_het, mean)

In [74]:
fdr_median

  scenario fdr
1 default  0.05798817
2 mismatch 0.07256528
3 oracle   0.07366169

In [75]:
fdr_median_singleton

  scenario fdr
1 default  0.05464481
2 mismatch 0.10204082
3 oracle   0.05663717

In [76]:
fdr_median_het

  scenario fdr
1 default  0.05804111
2 mismatch 0.06872038
3 oracle   0.07048984

## Power

In [70]:
total_true_included = aggregate(total_true_included ~ pattern + method, res, sum)
total_true = aggregate(total_true ~ pattern + method, res, sum)
overlap = aggregate(overlap ~ pattern + method, res, mean)
power = merge(total_true_included, total_true, by = c("pattern", "method"))
power = merge(power, overlap,  by = c("pattern", "method"))
power$power = power$total_true_included/power$total_true

In [77]:
power$scenario = rep(NA, nrow(power))
power$scenario[which(power$method == power$pattern & power$method != 'mixture_1')] = 'oracle'
power$scenario[which(power$method != power$pattern & power$method != 'mixture_1')] = 'mismatch'
power$scenario[which(power$method == "mixture_1")] = 'default'
power = power[which(!is.na(power$scenario)),]
power_mean = aggregate(power~scenario, power, mean)
power_singleton = power[which(power$pattern == 'singleton'),]
power_mean_singleton = aggregate(power~scenario, power_singleton, mean)
power_het = power[which(power$pattern == 'low_het'),]
power_mean_het = aggregate(power~scenario, power_het, mean)

In [78]:
power_mean

  scenario power
1 default  0.8623861
2 mismatch 0.8328877
3 oracle   0.8769862

In [80]:
power_mean_singleton

  scenario power
1 default  0.6433824
2 mismatch 0.5791667
3 oracle   0.6629902

In [81]:
power_mean_het

  scenario power
1 default  0.9183197
2 mismatch 0.8991832
3 oracle   0.9148191

## FDR per condition

In [82]:
tp = aggregate(true_positive_cross_cond ~ pattern + method, res, sum)
fp = aggregate(false_positive_cross_cond ~ pattern + method, res, sum)
fdr_cond = merge(tp, fp, by = c("pattern", "method"))
fdr_cond$fdr_cond = fdr_cond$false_positive_cross_cond/(fdr_cond$true_positive_cross_cond + fdr_cond$false_positive_cross_cond)
fdr_cond = fdr_cond[order(fdr_cond$method),]

In [83]:
fdr_cond$scenario = rep(NA, nrow(fdr_cond))
fdr_cond$scenario[which(fdr_cond$method == fdr_cond$pattern & fdr_cond$method != 'mixture_1')] = 'oracle'
fdr_cond$scenario[which(fdr_cond$method != fdr_cond$pattern & fdr_cond$method != 'mixture_1')] = 'mismatch'
fdr_cond$scenario[which(fdr_cond$method == "mixture_1")] = 'default'
fdr_cond = fdr_cond[which(!is.na(fdr_cond$scenario)),]
fdr_cond_mean = aggregate(fdr_cond~scenario, fdr_cond, mean)
fdr_cond_singleton = fdr_cond[which(fdr_cond$pattern == 'singleton'),]
fdr_cond_mean_singleton = aggregate(fdr_cond~scenario, fdr_cond_singleton, mean)
fdr_cond_het = fdr_cond[which(fdr_cond$pattern == 'low_het'),]
fdr_cond_mean_het = aggregate(fdr_cond~scenario, fdr_cond_het, mean)

In [84]:
fdr_cond_mean

  scenario fdr_cond
1 default  0.05656631
2 mismatch 0.16852276
3 oracle   0.06709568

In [85]:
fdr_cond_mean_singleton

  scenario fdr_cond
1 default  0.06099815
2 mismatch 0.73187766
3 oracle   0.05605787

In [86]:
fdr_cond_mean_het

  scenario fdr_cond
1 default  0.05258009
2 mismatch 0.06053400
3 oracle   0.06042074

## Power per condition

In [87]:
tp = aggregate(true_positive_cross_cond ~ pattern + method, res, sum)
fn = aggregate(false_negative_cross_cond ~ pattern + method, res, sum)
power_cond = merge(tp, fn, by = c("pattern", "method"))
power_cond$power_cond = power_cond$true_positive_cross_cond/(power_cond$true_positive_cross_cond + power_cond$false_negative_cross_cond)

In [88]:
power_cond$scenario = rep(NA, nrow(power_cond))
power_cond$scenario[which(power_cond$method == power_cond$pattern & power_cond$method != 'mixture_1')] = 'oracle'
power_cond$scenario[which(power_cond$method != power_cond$pattern & power_cond$method != 'mixture_1')] = 'mismatch'
power_cond$scenario[which(power_cond$method == "mixture_1")] = 'default'
power_cond = power_cond[which(!is.na(power_cond$scenario)),]
power_cond_mean = aggregate(power_cond~scenario, power_cond, mean)
power_cond_singleton = power_cond[which(power_cond$pattern == 'singleton'),]
power_cond_mean_singleton = aggregate(power_cond~scenario, power_cond_singleton, mean)
power_cond_het = power_cond[which(power_cond$pattern == 'low_het'),]
power_cond_mean_het = aggregate(power_cond~scenario, power_cond_het, mean)

In [89]:
power_cond_mean

  scenario power_cond
1 default  0.9850758
2 mismatch 0.8242107
3 oracle   0.9680900

In [90]:
power_cond_mean_singleton

  scenario power_cond
1 default  0.9769231
2 mismatch 0.9368670
3 oracle   0.9775281

In [91]:
power_cond_mean_het

  scenario power_cond
1 default  0.9882653
2 mismatch 0.8107187
3 oracle   0.9753682